.accordion {
  box-sizing: border-box;
  border: 3px solid black;
  border-style: none;
  min-width: 500px;
  max-width: 600px;
  margin: 0px, 0px, 0px, 0px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  font-family: "Albert Sans", sans-serif;
  background: white;
  font: black;
  }
#right {
  text-align: right;
}
  
#logo {
  position: relative;
  height: 120px;
  width: 111px;
  text-align: right;
  right: 170px;
  top: 45px;
}

#online {
  position: relative;
  text-align: right;
  right: 85px;
  bottom: 50px;
  font-family: 'Albert Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  }

.checkmark {
  float: right;
  width: 25px;
  height: 20px;
  display: inline-block;
  position: relative;
  right: 95px;
}

.xmark {
  float: right;
  position: relative;
  right: 30px;
  width: 15px;
  height: 15px;
}

.accordion__label,
.accordion__content {
  padding: 14px 20px;
}

.accordion__label {
  display: block;
  color: black;
  font-weight: 900;
  font-size: 23px;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
  }

.accordion__label:hover {
  background: rgba(0, 0, 0, 0.1);
}

.accordion__label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 12px;
  height: 6px;
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:gray;" /></svg>');
  background-size: contain;
  transition: transform 0.4s;
}

.accordion__content {
  background: #ffffff;
  line-height: 1.6;
  font-size: 18px;
  display: none;

}

.accordion__input {
  display: none;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
}

.accordion__input:checked ~ .accordion__label::after {
  transform: translateY(-50%) rotate(0.5turn);
}
